# Testing
coverage==7.0.1                  # Test coverage
flake8==6.0.0                    # Python linting

# Type checking
mypy==0.991                      # Static typing
types-setuptools==65.4.0.0       # Type stubs for setuptools module
