# Testing
coverage==7.3.1                  # Test coverage
ruff==0.0.290                    # Python linting

# Type checking
mypy==1.5.1                      # Static typing
types-setuptools==68.0.0.3       # Type stubs for setuptools module
